<!DOCTYPE html>
<html style="height: 100%;">
<head>

    <base href="/">
    <!-- metas -->
    <meta charset="UTF-8">
    <meta name="CoderLab">
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=htmlWebpackPlugin.files.favicon%>">

    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- <script crossorigin src="https://unpkg.com/@mui/material@5.10.8/umd/material-ui.production.min.js"></script> -->
    
    <style>
        .loader,
            .loader:before,
            .loader:after {
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation: load7 1.8s infinite ease-in-out;
            animation: load7 1.8s infinite ease-in-out;
        }
        .loader {
            color: #03a9f4;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        .loader:before,
        .loader:after {
            content: '';
            position: absolute;
            top: 0;
        }
        .loader:before {
            left: -3.5em;
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        .loader:after {
            left: 3.5em;
        }
        @-webkit-keyframes load7 {
            0%,
            80%,
            100% {
                box-shadow: 0 2.5em 0 -1.3em;
            }
            40% {
                box-shadow: 0 2.5em 0 0;
            }
        }
        @keyframes load7 {
            0%,
            80%,
            100% {
                box-shadow: 0 2.5em 0 -1.3em;
            }
            40% {
                box-shadow: 0 2.5em 0 0;
            }
        }

    </style
</head>
<body style="margin:0px;height: 100%;">

    <div id="app" style="height: 100%;">
        <div id="loadingScreen" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div><div class="loader">Loading...</div></div>
        </div>
    </div>
</body>
</html>
